@import "../../scss/variables";

.container {
  .content {
    @media screen and (max-width: 1024px) {
      height: calc(100vh - 84px);
    }
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-top: 64px;
    // max-width: 1200px;
    // min-width: 1000px;
    height: calc(100vh - 64px);
  }

  .left-side {
    @media screen and (max-width: 1024px) {
      display: none;
    }
    position: relative;
    background-color: $menuBackground;
  }

  .right-side {
    flex: 1 auto;
    padding: 15px 15px 25px;
    overflow-y: auto;
  }
  .hidden-sider-menu {
    position: absolute;
    width: 270px;
    background-color: $menuBackground;
    top: 0;
    bottom: 0;
    z-index: 100;

    .close-block {
      padding: 20px 15px;
      .iconfont {
        color: $cyanBlue;
        font-size: 18px;
        &:hover {
          cursor: pointer;
        }
      }
      span.iconfont {
        float: right;
      }
    }
  }
}
