@import "../../../../scss/variables.scss";

.header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1);

  &__wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__logo img {
    height: 40px;
    width: auto;
  }

  &__user-menu-area {
    position: relative;
    padding: 12px;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;

    &:hover .header__user-menu-list,
    .header__user-menu-list:hover {
      display: block;
    }
  }

  &__user-avatar {
    &-img {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      border-radius: 50%;
      vertical-align: middle;
      background: center no-repeat;
      background-color: #dddddd;
      background-image: url(/assets/mockups/1/Guide.png);
      background-position-x: -625px;
      background-position-y: -555px;
    }

    .iconfont {
      color: #435466;
    }
  }

  &__user-menu-list {
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
    padding: 10px 0;
    background-color: #ffffff;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1);

    &-item {
      padding: 8px 12px;
      color: #2d4054;
      display: flex;
      align-items: center;
      min-width: 128px;
      cursor: pointer;
      span.iconfont {
        width: 20px;
        font-size: 14px;
      }
      &:hover {
        background-color: #efefef;
      }

      &-label {
        padding-left: 10px;
      }
    }
  }

  &__nav-menu {
    @media screen and (max-width : 1024px){
      visibility: visible;
      cursor: pointer;
    }
    visibility: hidden;
    padding: 22px 15px;
    .iconfont {
      color: #435466;
    }
  }
}
